@model SalesWebMvcPI.Models.Department

@{
    ViewData["Title"] = "Delete";
}



<h3>Tem certeza de que deseja excluir ?</h3>
<div>
    <h4>Departamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>

    <h5></h5>
    <form asp-action="Index">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Voltar" class="btn btn-info" />
    </form>

</div>
