@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Seja Bem Vindo !</h1>
</div>


<h4>Meu Projeto - Integrador 5</h4>

<p>Aluno: Dua Elias</p>
<p>Professor: Paulo Fonseca</p>
<p>Disciplina - Projeto Integrador</p>



