@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Seja Bem Vindo!</h2>
</div>


<div class="row">
    <div class="col">
        <p>Meu Projeto - Integrador 5</p>
    </div>
</div>



